html {
  --main-color: #02C3BD;
  --green-color: #2ea654;
  --red-color: #da4040;
  --light-color: #ffffff;
  --border-color: #e5e5e5;
  --light-border-color: #f1f1f1;
  --bg-color: #FCFCFC;
  --gray-color: #a9b4c2;
  --text-color: #000000;
}
